@page "/Contato"

<PageTitle>Contato</PageTitle>

<section class="pagina-contato">

    <div class="topo-contato">

        <h1>Entre em Contato</h1>

        <p>
            Estou disponível para conversar sobre projetos,
            oportunidades e tecnologia.
        </p>

    </div>

    <div class="container-contato">

        <div class="card-contato">

            <div class="icone-contato">
                📱
            </div>

            <h2>WhatsApp</h2>

            <a href="https://wa.me/5569993693197"
                   target="_blank"
                   class="link-social">

                (69) 99369-3197

            </a>

        </div>

        <div class="card-contato">

            <div class="icone-contato">
                📸
            </div>

            <h2>Instagram</h2>

            <a href="https://instagram.com/rodriguesswb"
                   target="_blank"
                   class="link-social">

                @@rodriguesswb

            </a>

        </div>

    </div>

    <a href="/" class="botao-home">
        Voltar para Home
    </a>

</section>